.taskCardContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  gap: 8px;
}

.taskCardDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}

.taskCardTitle {
  font-size: medium;
  font-weight: bold;
  color: hsl(231, 30%, 35%);
}

.taskCardEstimate {
  color: hsl(231, 39%, 93%);
}
